#intro-banner {
    background-image: url(../images/firefighters_bg.jpg);
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% -450px;
    min-height: 524px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*
@media (max-width: 767px) {
    #intro-banner {
        background-size: cover;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    #intro-banner  {
        background-size: 1200px 675px;
    }
}

@media (min-width: 1200px) {
    #intro-banner {
        height: 500px;
        background-size: cover;
        background-position: right;

    }
}
*/


@media (min-width: 1920px) {
    #intro-banner {
        background-size: cover;
        background-position: bottom right;
    }
}

#contact-form-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-form-confirm .modal-header {
    height: 56px;
}
#contact-form-confirm p {font-size: 24px;}

#contact {
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    #features-section section {
        height: 425px;
    }
}

#features-section .lead {
    color: #000;
}

@media (max-width: 768px) {
    #contact-other {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #contact-other li:first-child {
        display: block;
    }    
}

@media (min-width: 992px) {
    #contact-other {
        padding-top: 20px;
    }
}

#intro {
    font-size: 24px;
    font-weight: 300;
    /*line-height: 1.25;*/
    color: #000;
}
@media (min-width: 768px) {
    #intro {
        font-size: 30px;
        text-align: center;
    }
}

#intro b,
#intro em {
    font-weight: 600;
    color: #333;
}

.section-heading {
    color: #000;
    padding-top: 150px;
    margin-top: -150px;
}

h2.h1 {
    font-weight: 300;
}

section.alt {
    background-color: #f5f5f5;
}
.main-content > section {
    border-bottom: 1px solid #e7e7e7
}

.feature-icon {
    max-width: 200px;
}