{% load staticfiles tz i18n django_markdown social_share %}
<article class="blog-post">
  <header class="page-header blog-post-header">    
    {% if request.get_full_path == post.get_absolute_url %}
      <h1>{{ post.title }}</h1>
    {% else %}
      <h2>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </h2>
    {% endif %}
    <ul class="list-inline text-muted post-byline">
      <li><time datetime="{{ post.pub_date|date:'c' }}">{% timezone "US/Pacific" %}{{ post.pub_date|date:"N j, Y" }}{% endtimezone %}</time></li>
      <li>{% if post.author.get_full_name %}<b>{{ post.author.get_full_name }}</b>{% else %}<b>{{ post.author.get_username }}</b>{% endif %}</li>
    </ul>
  </header>

  {% if post.primary_image %}
    <section class="post-primary-img">
      <img src="{{ post.primary_image.get_absolute_url }}" alt="{{ post.primary_image.description }}" class="img-responsive center-block">
    </section>
  {% endif %}

  <section class="post-body">
    {{ post.content|markdown }}
  </section>

  <hr>

  <footer>
    <h3 class="h4">{% trans "Share this post:" %}</h3>
    <ul class="list-inline">
      <li>{% post_to_facebook post "Share on Facebook" %}</li>
      <li>{% post_to_twitter "{{ post.title }}" post "Tweet this post" %}</li>
      <li>{% post_to_gplus post "Share on Google+" %}</li>
    </ul>
  </footer>

</article>