{% extends "blog/blog_base.html" %}
{% load staticfiles django_markdown %}

{% block sidebar %}
  {{ block.super }}

  <section class="panel panel-default">
    <nav class="panel-body">
      <h2 class="h4">{% trans "Archives" %}</h2>
      <ul class="list-unstyled">
        {% for date_obj in date_list %}
          <li>
            <a href="{% url 'blog:month_archive' year=date_obj|date:'Y' month=date_obj|date:'b' %}">
              <time>{{ date_obj|date:"F Y" }}</time>
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </section>
{% endblock sidebar %}

{% block post_area %}
  {% for post in post_list %}
    {% include "blog/_blog_post_snippet.html" %}
  {% endfor %}
  {% if is_paginated %}
    <footer>
      {% if page_obj.has_other_pages %}
        <nav>
          <div class="btn-group btn-group-justified" role="group">
          {% if page_obj.has_next %}
            <a href="{% url 'blog:index' page=page_obj.next_page_number %}" class="btn btn-lg btn-primary-outline">
              <span class="hidden-sr">&larr;</span>&ensp;{% trans "Older Posts" %}
            </a>
          {% endif %}
          {% if page_obj.has_previous %}
            <a href="{% url 'blog:index' page=page_obj.previous_page_number %}" class="btn btn-lg btn-primary-outline">
              {% trans "Newer Posts" %}&ensp;<span class="hidden-sr">&rarr;</span>
            </a>
          {% endif %}
          </div>
        </nav>
      {% endif %}
    </footer>
  {% endif %}
{% endblock post_area %}