{% extends "site_base.html" %}
{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock css %}

{% block extra_js %}
  
{% endblock extra_js %}


{% block page_content %}
  <section id="blog" class="container">
    <header class="blog-app-header text-center">
      {% block blog_header %}<h1>{% trans "Blog" %}</h1>{% endblock %}
    </header>
    {% block blog_content %}
      <div class="row">
        <div id="blog-main" class="col-md-9 col-lg-8">
          {% block post_area %}
            
          {% endblock post_area %}
        </div>
        <aside id="blog-sidebar" class="col-md-3 col-lg-offset-1 hidden-xs">
          {% block sidebar %}
            <section class="well">
              <h2 class="h4">{% trans "About" %}</h2>
              <p>{% trans "This is the official blog of IncidentAid." %}</p>
            </section>
            <section class="panel panel-default">
              <div class="panel-body">
                <h2 class="h4">{% trans "Feeds" %}</h2>
                <ul class="list-inline">
                  <li class="hidden-sr">
                    <span class="fa fa-lg fa-rss"></span>
                  </li>
                  <li>
                    <a href="{% url 'blog:rss_feed' %}"><abbr>RSS</abbr></a>
                  </li>
                  <li>
                    <a href="{% url 'blog:atom_feed' %}">Atom</a>
                  </li>
                </ul>
              </div>
            </section>
          {% endblock sidebar %}
        </aside>
      </div>
    {% endblock blog_content %}
  </section>
{% endblock page_content %}