{% extends "blog/blog_base.html" %}
{% load staticfiles django_markdown %}

{% block blog_header %}
  <nav class="h2"><a href="{% url 'blog:index' %}">IncidentAid Blog</a></nav>
{% endblock blog_header %}

{% block sidebar %}
  {{ block.super }}
  
  {# List of the10 most recent blog posts #}
  <section id="latest-posts" class="panel panel-default">
      
    <header class="panel-body">
      <h2 class="h4">Latest Posts</h2>
    </header>

    <div class="list-group">
      {% for recent_post in recent_posts %}
        <a href="{{ recent_post.get_absolute_url }}" class="list-group-item{% if recent_post == post %} active {% endif %}">
          <h3 class="list-group-item-heading">{{ recent_post.title }}</h3>
          <p class="list-group-item-text text-muted"><time datetime="{{ recent_post.pub_date }}">{{ recent_post.pub_date|date:"N j, Y" }}</time></p>
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock sidebar %}

{% block post_area %}

  {# Individual blog post snippet #}
  {% include "blog/_blog_post_snippet.html" %}
  
  <footer>
    <nav>
      <a href="{% url 'blog:index' %}" class="btn btn-lg btn-primary-outline btn-block"><span class="fa fa-fw fa-level-up"></span> Blog Index</a>
    </nav>
  </footer>
{% endblock post_area %}