<div class="tweet-this">
    <a href="{{ tweet_url }}" class="meta-act-link meta-tweet" target="_blank" title="{{ link_text }}">
        <span class="fa fa-3x fa-twitter-square"></span><span class="sr-only">{{ link_text }}</span>
    </a>
</div>
