<div class="gplus-this">
    <a href="{{ gplus_url }}" target="_blank" title="{{ link_text }}">
        <span class="fa fa-3x fa-google-plus-square"></span><span class="sr-only">{{ link_text }}</span>
    </a>
</div>
