<div class="facebook-this">
    <a href="{{ facebook_url }}" target="_blank" title="{{ link_text }}">
        <span class="fa fa-3x fa-facebook-square"></span><span class="sr-only">{{ link_text }}</span>
    </a>
</div>
