{% extends "site_base.html" %}
{% load staticfiles i18n bootstrap django_markdown %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'home/css/homepage.css' %}">
{% endblock css %}
{% block extra_js %}
  
<script src="{% static 'js/contact-form.js' %}"></script>

{% endblock %}

{% block page_content %}
  <div class="main-content">
    <section id="intro-banner" class="jumbotron jumbotron-dark">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h1>{% trans "Empowering Emergency Responders with Wearable Cloud-based Technologies." %}</h1>
          </div>
        </div>
      </div>
    </section>

    {% if messages %}
      <aside class="container">
        {% for message in messages %}
          <div class="{{ message.tags }}">
            {% trans message %}
          </div>
        {% endfor %}
      </aside>
    {% endif %}

    <section>
      <div class="container">
        <h2 class='sr-only'> Intro Section</h2>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p id="intro">
               {% blocktrans %}
                 We provide unprecedented technology to enable reliable communication between incident commanders and individual first responders &ndash; <b>saving lives</b>, <b>reducing injuries</b>, <b>minimizing property damages</b>, and <b>saving government money</b>.
               {% endblocktrans %}
            </p>
          </div>
        </div>
      </div>
    </section>

    {% comment %}
      <section>
        <div class="container">
          <h2 id="intro" class="h1 text-center">
            {% blocktrans %}
              Move over, push-to-talk radio.<br>
              There’s a new sheriff in town.
            {% endblocktrans %}
          </h2>
          <div class="row">
            <div class="col-sm-6 col-md-5">
              <img alt="placeholder image" class="img-responsive" src="http://placehold.it/400x400">
            </div>
            <div class="col-sm-6 col-sm-7">
              <section>
                <h3>{% trans "IncidentAid's end-to-end, cloud-based mobile solution provides:" %}</h3>
                <ul class="list-unstyled lead">
                  <li>{% trans "Clear & efficient communication between the Incident Commander and Firefighters/EMTs on the front lines" %}</li>
                  <li>{% trans "Sharing of Common Operating Picture (COP) including floor plans and photos" %}</li>
                  <li>{% trans "GPS tracking and monitoring of First Responders on scene" %}</li>
                  <li>{% trans "Integration with Computer Aided Dispatch" %}</li>
                  <li>{% trans "Easy generation of accurate and thorough Incident Reports" %}</li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </section>
    {% endcomment %}

    {% comment %}
      <section>
        <div class="container">
          <h2 id="about" class="h1 text-center">{% trans "About IncidentAid" %}</h2>

          <section>
            <h3 class="text-center">{% trans "Our Vision" %}</h3>
          </section>

          <section>
            <h3 id="team" class="text-center">{% trans "The Team" %}</h3>
            <div class="row">
              {% for bio in bio_list %}
                {% with name=bio.user.get_full_name %}
                  <div class="col-sm-6 col-md-4">
                    <img src="{{ bio.image.url }}" alt="{{ name }}" class="bio-pic center-block" width="240" height="240">
                    <h4 class="text-center">{{ name }}, <i>{% trans bio.job_title %}</i></h4>
                    <div class="bio-text text-center">
                      {{ bio.bio_text|markdown }}
                    </div>
                  </div>
                {% endwith %}
              {% endfor %}
            </div>
            
          </section>
        </div>
      </section>
    {% endcomment %}

    <section id="features-section">
      <div class="container">
        <h2 id="features" class="h1 section-heading text-center">Features</h2>
        <div class="row">
          <section class="col-sm-6">
            <img src="{% static "home/images/icons/icn_alert_system.svg" %}" alt="Alert System" class="feature-icon center-block">
            <h3 class="text-center">Alert System</h3>
            <p class="lead text-center">{% trans "Provides reliable communication between incident commanders and individual responders as conditions change." %}</p>
          </section>

          <section class="col-sm-6">
            <img src="{% static "home/images/icons/icn_geo_tracking.svg" %}" alt="Geo Tracking and Monitoring " class="feature-icon center-block">
            <h3 class="text-center">Geo Tracking and Monitoring</h3>
            <p class="lead text-center">{% trans "Plots real-time location of responders in the field for improved situational understanding." %}</p>
          </section>

          <section class="col-sm-6">
            <img src="{% static "home/images/icons/icn_report_generation.svg" %}" alt="Report Generation" class="feature-icon center-block">
            <h3 class="text-center">Report Generation</h3>
            <p class="lead text-center">{% trans "24/7 data feeds and data collection for reduced report-writing overhead." %}</p>
          </section>

          <section class="col-sm-6">
            <img src="{% static "home/images/icons/icn_phone_protective_case.svg" %}" alt="Phone Protective Case" class="feature-icon center-block">
            <h3 class="text-center">Phone Protective Case</h3>
            <p class="lead text-center">{% trans "Ergonomic and ruggedized, the case ensures system availability in hazardous environments." %}</p>
          </section>

        </div>
      </div>
    </section>

    <section>
      <div class="container">

        <address>
          <form id="contact-form" action="{% url 'home' %}" method="post" role="form">{% csrf_token %}
            {% include "_contact_form.html" %}
          </form>

        </address>

        <aside id="contact-form-confirm" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">

                <div id="confirmation-message">
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </section>

  </div>
{% endblock page_content %}