#blog {
    padding-bottom: 80px;
}

h1 a:focus,
h1 a:hover,
h2 a:focus,
h2 a:hover,
.h1 a:focus,
.h1 a:hover, 
.h2 a:focus,
.h2 a:hover {
    text-decoration: none;
}
.pager > li > a {
  min-width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 0;
}

.post-body {
    font-size: 20px;
    line-height: 1.8;
    font-weight: 400;
    color: #555;
}

.post-body p {
    margin-bottom: 1.5em;
}

.blog-post {
    margin-bottom: 100px;
}

.post-primary-img {
    margin-bottom: 2em;
}

.blog-app-header {
    margin-bottom: 80px;
}

.blog-app-header h1 {
    font-size: 48px;
}

.blog-post-header {margin-top: 0; margin-bottom: 3em;}
.blog-post-header h1,
.blog-post-header h2 {
    font-weight: normal;
    font-size: 42px;
    margin-top: 0;
}

.post-byline {margin-bottom: 0;}
.post-byline li {margin-bottom: 0;}
.post-byline b {font-weight: 600;}

.list-group-item-heading {
    font-weight: 400;
    font-size: 20px;
}