{% load i18n %}
<div class="row">
  
  <div id="contact-form-header" class="col-md-12">
    
    <h2 id="contact" class="h1 section-heading text-center">{% trans "Contact Us" %}</h2>

    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {% if form_error_title %}
          <strong>{% trans form_error_title %}</strong><br>
        {% endif %}
        {% if form.non_field_errors|length == 1 %}
          {% blocktrans %}{{ form.non_field_errors|first }}{% endblocktrans %}
        {% else %}
          {% blocktrans %}{{ form.non_field_errors }}{% endblocktrans %}
        {% endif %}
      </div>
    {% endif %}    
  </div>

  <div class="col-sm-5 col-md-5 col-md-offset-1 col-lg-4">
    <div id="div_{{ form.sender_name.auto_id }}" class="form-group form-group-lg">
      <label class="control-label sr-only" for="{{ form.sender_name.auto_id }}">
        {% trans form.sender_name.label %}
      </label>
      
      {{ form.sender_name }}

      {% if form.sender_name.errors %}
        <span class="form-control-feedback" aria-hidden="true">
          <span class="fa fa-remove"></span>
        </span>
      {% endif %}
        <span id="{{ form.sender_name.auto_id }}_status" class="feedback-icon-label sr-only">
          {% if form.sender_name.errors %}({% trans "error" %}){% else %}({% trans "blank" %}){% endif %}
        </span>

      {% for error in form.sender_name.errors %}
        <span id="error_{{ form.sender_name.auto_id }}_{{ forloop.counter }}" class="error-msg text-danger">
          {% trans error %}
        </span>
      {% empty %}
      {% endfor %}
    </div>


    <div id="div_{{ form.sender_email.auto_id }}" class="form-group form-group-lg">
      <label class="control-label sr-only" for="{{ form.sender_email.auto_id }}">
        {% trans form.sender_email.label %}
      </label>

      {{ form.sender_email }}
      
      {% if form.sender_email.errors %}
        <span class="form-control-feedback" aria-hidden="true">
          <span class="fa fa-remove"></span>
        </span>
      {% endif %}
        <span id="{{ form.sender_email.auto_id }}_status" class="feedback-icon-label sr-only">
          {% if form.sender_email.errors %}({% trans "error" %}){% else %}({% trans "blank" %}){% endif %}
        </span>

      {% for error in form.sender_email.errors %}
        <span id="error_{{ form.sender_email.auto_id }}_{{ forloop.counter }}" class="error-msg text-danger">
          {{ error }}
        </span>
      {% empty %}
      {% endfor %}
    </div>


    <div id="div_{{ form.subject.auto_id }}" class="form-group form-group-lg">
      <label class="control-label sr-only" for="{{ form.subject.auto_id }}">
        {% trans form.subject.label %}
      </label>

      {{ form.subject }}
      
      {% if form.subject.errors %}
        <span class="form-control-feedback" aria-hidden="true">
          <span class="fa fa-remove"></span>
        </span>
      {% endif %}
        <span id="{{ form.subject.auto_id }}_status" class="feedback-icon-label sr-only">
          {% if form.subject.errors %}({% trans "error" %}){% else %}({% trans "blank" %}){% endif %}
        </span>

      {% for error in form.subject.errors %}
        <span id="error_{{ form.subject.auto_id }}_{{ forloop.counter }}" class="error-msg text-danger">
          {{ error }}
        </span>
      {% empty %}
      {% endfor %}
    </div>

    <div id="div_{{ form.antispam.auto_id }}" class="form-group form-group-lg hidden">
      <label for="{{ form.antispam.auto_id }}" class="control-label hidden">{{ form.antispam.label }}</label>
      {{ form.antispam }}
    </div>
  </div>

  <div class="col-sm-7 col-md-6 col-lg-6">
    <div id="div_{{ form.message.auto_id }}" class="form-group form-group-lg">
      <label class="control-label sr-only" for="{{ form.message.auto_id }}">
        {% trans form.message.label %}
      </label>

      {{ form.message }}

      {% if form.message.errors %}
        <span class="form-control-feedback" aria-hidden="true">
          <span class="fa fa-remove"></span>
        </span>
      {% endif %}
        <span id="{{ form.message.auto_id }}_status" class="feedback-icon-label sr-only">
          {% if form.message.errors %}({% trans "error" %}){% else %}({% trans "blank" %}){% endif %}
        </span>
      
      {% for error in form.message.errors %}
        <span id="error_{{ form.message.auto_id }}_{{ forloop.counter }}" class="error-msg text-danger">
          {% trans error %}
        </span>
      {% empty %}
      {% endfor %}
    </div>
  
  </div>
  <div class="clearfix"></div>
  <div class="col-sm-4 col-sm-push-8 col-lg-push-7">
    <div class="form-group form-group-lg">
      <button type="submit" form="contact-form" class="btn btn-lg btn-block btn-success"><span class="fa fa-send"></span>&ensp;{% trans "Get in Touch" %}</button>
    </div>
  </div>
  <div id="contact-other" class="col-sm-8 col-sm-pull-4 col-lg-7 col-lg-pull-3">
    <ul class="list-inline text-muted">
      <li>{% trans "Or, if you prefer the old-fashioned way:" %}</li>
      <li>
        <span class="fa fa-envelope"></span> <a href="mailto:info@incidentaid.com"><small>info@incidentaid.com</small></a>
      </li>
      <li>
        <span class="fa fa-phone"></span><small> 1-650-380-8184</small>
      </li>
    </ul>
  </div>

</div>