{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "_meta.html" %}
    <link rel="icon" type="image/x-icon" href="{{ favicon_url }}">

    {% block css %}    
      {# Bootstrap CSS #}
      {% if debug %}
          {% static "css/bootstrap.css" as bootstrap_path %}
          {% static "css/jasny-bootstrap.css" as jasny_path %}
      {% else %}
          {% static "css/bootstrap.min.css" as bootstrap_path %}
          {% static "css/jasny-bootstrap.min.css" as jasny_path %}
      {% endif %}
      <link rel="stylesheet" href="{{ bootstrap_path }}">
      <link rel="stylesheet" href="{{ jasny_path }}">

      {% if debug %}
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
      {% else %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      {% endif %}

      {# Custom styles #}
      <link href="{% static 'css/site_base.css' %}" rel="stylesheet">
    {% endblock css %}
    
    
  </head>

  <body>
    {% block navbar %}
      {# Fixed navbar #}
        <nav class="{% block navbar_class %}navbar navbar-default navbar-fixed-top{% endblock %}">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#navbar" data-canvas="body" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              {% url 'home' as homepage_url %}
              <a class="navbar-brand" href="{{ homepage_url }}"{% if homepage_url == request.path %} data-scrolltop{% endif %}>
                {% include '_navbar_logo.html' %}
              </a>
            </div>
            <div id="navbar" class="offcanvas navbar-offcanvas">
              <a class="navmenu-brand" href="{% url 'home' %}">
                {% include '_navbar_logo.html' %}
              </a>
              <ul class="nav navbar-nav">
                {% for link_name, link_url in nav_links.items %}
                  <li><a href="{{ link_url }}"{% if request.path in link_url %} class="active"{% endif %}{% if '#' in link_url and request.path in link_url %} data-smoothscroll{% endif %}>{{ link_name|capfirst }}</a></li>
                {% endfor %}
              </ul>
            </div>{# /.nav-collapse #}
          </div>
        </nav>
    {% endblock navbar %}

    {% block page_content %}
      Page content goes here.
    {% endblock page_content %}

    {% block footer %}
      <footer class="footer">
        <div class="container">
          <nav>
            <ul class="list-inline text-center">
                {% for link_name, link_url in nav_links.items %}
                  <li><a href="{{ link_url }}"{% if link_url in request.path or '#' in link_url %} class="{% if link_url in request.path %}active {% endif %}{% if '#' in link_url %}anchor-link {% endif %}"{% endif %}{% if '#' in link_url %} data-smoothscroll{% endif %}>{{ link_name|capfirst }}</a></li>
                {% endfor %}
            </ul>
          </nav>
          <div class="row">
            <div class="col-sm-12 text-center">
              {% now "Y" as current_year %}
              <p>{% blocktrans %}© IncidentAid {{ current_year }}{% endblocktrans %}</p>
            </div>
          </div>
        </div>
      </footer>
    {% endblock footer %}

    {% block js %}
      {# Bootstrap core JavaScript #}
      {# ================================================== #}
      {# Placed at the end of the document so the pages load faster #}
      <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>
      <script src="{% static 'js/smoothscroll.js' %}"></script>
      {# IE10 viewport hack for Surface/desktop Windows 8 bug #}
      <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
      <script src="{% static 'js/validator.min.js' %}"></script>
      {% block extra_js %}{% endblock %}
    {% endblock js %}
  </body>
</html>